.header{
    background-color: #105719;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 5px 0 5px 0;
    justify-content: space-between;
    padding-left: 10px;
    color: white;
}

.no-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

.header-logo{
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0px 20px;
}



.header-searchIcon{
    height:22px !important;
    padding: 8px;
    background-color: #928787;
}


.header-searchInput{
    height: 18px;
    padding: 10px;
    width: 100%;
    border: none;
}

.header-search{
    display: flex;
    flex: 1;
}


.header-nav{
    display: flex;
    justify-content: space-evenly;

}

.header-user{
    display:flex;
    align-items: center;
    color: white;
    padding: 0 20px 0 20px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
    margin:10px
    /* display: none; */
  }
  
.dropdown a {
    /* display: block; */
    padding: 12px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
  
}

.dropdown a:hover {
    background-color: #f5f5f5;
}
  
.header-user:hover .dropdown {
    margin:10px
}

.header-tab {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header-tab:hover {
  color: rgb(23, 22, 22);
  text-decoration: none;
}

.header-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-tab-container {
    margin-right: 16px;
}



